
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@(Html.Kendo().Grid<iWasHere.Domain.DTOs.TouristicObjectiveListModel>
    ()
    .Name("Grid")

    .Columns(columns =>
    {
    columns.Bound(p => p.TouristicObjectiveId).Hidden(true);
    columns.Template(@"<div class='row'>
        <div class='col-md-4' style='text-align: center'>
            <img align='middle' style='max-height:300px' src='img/#=MainImgPath#' />
        </div>
<div class='col-md-8'>
    <div class='row'>
        <div class='col-md-8'>
            <h1>#=Name#</h1>
                </div>
                <div class='col-md-4'>
                    <h3 style='text-align:right'>#=Code#</h3>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-4'>
                    Entry: #if(HasEntry==true){#<i class='fa fa-check-square'></i>#}else{#<i class='fa fa-times'></i>#}#
                </div>
                <div class='col-md-4'>
                    <b>#=Price#</b> RON
                </div>
                <div class='col-md-4'>
                    <b>#=Rank#</b><i class='fa fa-star'></i>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-4'>
                    AttractionCategory: <b>#=AttractionCategory#</b>
                </div>
                <div class='col-md-4'>
                    OpenSeason: <b>#=OpenSeason#</b>
                </div>
                <div class='col-md-4'>
                    City: <b>#=City#</b>
                </div>
            </div>
            <br />
            <div class='row'>
                <div class='col-md-12'>
                  #=Description# </div>
            </div>
        </div>
    </div>
        <div class='row'>
            <div class='col-md-4'>
                <a <b>#=AttractionCategory#</b>
        </div>
                <div class='col-md-4'>
                <b>#=OpenSeason#</b>
        </div>
                <div class='col-md-4'>
            City: <b>#=City#</b>
        </div>
");

    })

    .Sortable()
    .Pageable(p => p.Numeric(false).PreviousNext(false))
    .HtmlAttributes(new { style = "height:1000px" })
    .Scrollable(sc => sc.Endless(true))
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(20)
    .Read(r => r.Action("GetTuristicObjectives", "TouristicObjective"))
    )
)
