@model IEnumerable<iWasHere.Domain.DTOs.DictionaryCountyModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>County</h1>

<p>
    <input type="button" value="Add county" id="goToCounty" class="btn btn-dark" onclick="goToAddCounty()" />
</p>

<div>
    <div style="margin:5px 0">
        <button id="filterCounties" class="btn btn-dark"> Filter </button>

        <button id="deleteFilterCounties" class="btn btn-dark"> Delete filters </button>
    </div>

    <div style="margin:5px 0">
        <label for="searchCountyName">County Name</label>
        <input type="text" name="searchCountyName" id="filterCountyName" />

        <label for="searchCountyCode">County Code</label>
        <input type="text" name="searchCountyCode" id="filterCountyCode" />

        <label for="countries">Country</label>
        @(Html.Kendo().ComboBox()
                      .Name("countries")
                      .DataTextField("CountryName")
                      .DataValueField("CountryId")
                      .Filter(FilterType.StartsWith)
                      .HtmlAttributes(new { style = "width:30%" })
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("ServerFiltering_GetCountries", "Dictionary");

                          })
                  .ServerFiltering(true);
                      })
        )
    </div>
</div>

@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCountyModel>()
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(c => c.CountyId);
                    columns.Bound(c => c.CountyName);
                    columns.Bound(c => c.CountyCode);
                    columns.Bound(c => c.CountryId);
                    columns.Bound(c => c.CountryName);
                    columns.Template(" <a class='btn btn-dark' href='/dictionary/County?countyToEditId=#=CountyId#'>Edit</a>");
                    columns.Template(" <button class='btn btn-dark' onClick='deleteCounty(#=CountyId#)'value = 'delete'>Delete</button>");
                })
                .HtmlAttributes(new { style = "height: 550px; " })
                .Scrollable()
                .Selectable()
                .Groupable()
                .Sortable()
                .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(m => m.Id("CountyId"))
                    .Read(read => read.Action("CountyData", "Dictionary")
                        .Data("getFilters"))
                    .PageSize(20)
                    .ServerOperation(true)
                )
)

<script type="text/javascript">

    $("#filterCounties").on("click", function (e) {
        e.preventDefault();
        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").dataSource.page(1);

    });

    $("#deleteFilterCounties").on("click", function (e) {
        e.preventDefault();

        $("#countries").data("kendoComboBox").text('');

        $("#filterCountyName").val('');
        $("#filterCountyCode").val('');

        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").dataSource.page(1);

    });

    function getFilters() {
        var filter = {};

        var countryId = $("#countries").data("kendoComboBox").value();
        var countyName = $("#filterCountyName").val();
        var countyCode = $("#filterCountyCode").val();

        if (countryId) {
            filter["countryId"] = countryId;
        }

        if (countyName) {
            filter["countyName"] = countyName;
        }

        if (countyCode) {
            filter["countyCode"] = countyCode;
        }

        return filter;
    }

    function redirectCounty() {
        document.location = 'County';
    }

    function goToAddCounty() {
        window.location = '/dictionary/County?countyToEditId=' + 0;
    }

    function deleteCounty(e) {

        if (confirm("Are you sure you want to delete the selected record(s)?")) {
            $.ajax({
                type: "Post",
                url: '@Url.Action("DeleteCounty", "Dictionary")',
                data: {
                    countyToDeleteId: e
                }
            })
                .done(function (r) {
                     $("#grid").data("kendoGrid").dataSource.read();
                     $("#grid").data("kendoGrid").dataSource.page(1);

                })
                .fail(function (r) {
                    alert("There are other connections to County");
                });
        } else {
            // cancel button is clicked
        }
    }
</script>

<style>
    #grid .k-grouping-header {
        display: none !important;
    }

    #grid .k-dropdown-wrap .k-state-default .k-state-focused .k-state-active
    .k-state-border-down .k-state-hover{
        color: black;
    }
 
</style>






