@model IEnumerable<iWasHere.Domain.DTOs.DictionaryCountyModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>County</h1>

<p>
    <input type="button" value="Add county" id="goToCounty" onclick=redirectCounty() />
</p>

<div>
    <button id="filterCounties"> Filter </button>
    <button id="deleteFilterCounties"> Delete filters </button>

    <div class="demo-section k-content">
        @(Html.Kendo().ComboBox()
                      .Name("countries")
                      .DataTextField("CountryName")
                      .DataValueField("CountryId")
                      .Filter(FilterType.StartsWith)
                      .HtmlAttributes(new { style = "width:100%" })
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("ServerFiltering_GetCountries", "Dictionary");

                          })

                  .ServerFiltering(true);
                      })

        )
    </div>

    <script>
        function onAdditionalData() {
            return {
                text: $("#countries").val()
            };
        }
    </script>


    <label for="searchCountyName">Nume judet</label>
    <input type="text" name="searchCountyName" id="filterCountyName" />

    <label for="searchCountyCode">Cod judet</label>
    <input type="text" name="searchCountyCode" id="filterCountyCode" />


</div>

@(Html.Kendo().Grid<iWasHere.Domain.DTOs.DictionaryCountyModel>()
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(c => c.CountyId);
                    columns.Bound(c => c.CountyName);
                    columns.Bound(c => c.CountyCode);
                    columns.Bound(c => c.CountryId);
                    columns.Bound(c => c.CountryName);
                    columns.Command(command => command.Custom("Edit").Click("redirectCounty")).Width(180);
                    columns.Command(command => command.Custom("Delete").Click("deleteCounty")).Width(180);
                })
                .HtmlAttributes(new { style = "height: 550px;" })
                .Scrollable()
                .Selectable()
                .Groupable()
                .Sortable()
                .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    //.Model(model =>
                    //{
                    //    model.Id(c => c.CountyId);
                    //})
                    .Read(read => read.Action("CountyData", "Dictionary")
                        .Data("getFilters"))
                    .PageSize(20)
                    .ServerOperation(true)
                )
)

<script type="text/javascript">

    $("#filterCounties").on("click", function (e) {
        e.preventDefault();
        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").dataSource.page(1);

    });

    $("#deleteFilterCounties").on("click", function (e) {
        e.preventDefault();

        $("#countries").data("kendoComboBox").text('');

        $("#filterCountyName").val('');
        $("#filterCountyCode").val('');

        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").dataSource.page(1);

    });

    function getFilters() {
        var filter = {};

        var countryId = $("#countries").data("kendoComboBox").value();
        var countyName = $("#filterCountyName").val();
        var countyCode = $("#filterCountyCode").val();

        if (countryId) {
            filter["countryId"] = countryId;
        }

        if (countyName) {
            filter["countyName"] = countyName;
        }

        if (countyCode) {
            filter["countyCode"] = countyCode;
        }

        return filter;
    }

    function redirectCounty() {
        document.location = 'County';
    }

    function deleteCounty(e) {
        e.preventDefault ? e.preventDefault() : e.returnValue = false;

        var grid = $("#grid").data("kendoGrid");

        if (confirm("Are you sure you want to delete the selected record(s)?")) {
            grid.removeRow($(e.target).closest("tr")); // remove the row
            // custom actions here
        } else {
            // cancel button is clicked
        }

        $.ajax({
            type: "Post",
            url: '@Url.Action("DeleteCounty", "Dictionary")',
            data: 
                //grid = $("#grid").data("kendoGrid"),
               countyId = $("#grid").data("kendoGrid").dataItem($("#grid").data("kendoGrid").select()).CountyId
                   
        }).done(function () {
            document.location = 'Counties';
        }).error(function () {
            alert("Something Went Wrong.");
        });
       return countyId;
    }
</script>




