@model IEnumerable<iWasHere.Domain.Model.DictionaryCountry>

@{
    ViewData["Title"] = "Countries";
}

<h1>Countries</h1>

<p>
    <a asp-action="Create">Add</a>
</p>

<script type="text/javascript">

    function test() {

        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").dataSource.page(1);
    }


    function filter() {
        var CountryName = $("#CountryName").val();
        var CountryCode = $("#CountryCode").val();
        var filter = {};
        filter["CountryName"] = CountryName;
        filter["CountryCode"] = CountryCode;
        console.log(filter.CountryName);
        return filter;
    }

    function txtFilterCountry() {

        var object = {};
        object["CountryName"] = $("#CountryName").val();
        object["CountryCode"] = $("#CountryCode").val();
        return object;
    }

</script>


    <label>Country Code </label>
    <input id="CountryCode" type="text" />
    <br />
    <label>Country Name </label>
    <input id="CountryName" type="text" />
    <br />
    <button id="FilterCountry" onclick="test()">Filtreaza</button>


    @(Html.Kendo().Grid<iWasHere.Domain.Model.DictionaryCountry>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.DictionaryCountryId).Visible(false);
            columns.Bound(c => c.DictionaryCountryCode).Width(70);
            columns.Bound(c => c.DictionaryCountryName).Width(110);
            columns.Template("<input type ='button' class='k-button info' name='info' value='Editeaza'/>").Width(70);
            columns.Command(command => { command.Destroy(); }).Width(70);
        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model( model =>
            {
                model.Id(c => c.DictionaryCountryId);
                model.Field(c => c.DictionaryCountryId).Editable(false);
            }
            )
            .Read(read => read.Action("DictionaryCountryData", "Dictionary").Data("txtFilterCountry"))
            .Destroy(update => update.Action("DeleteCountry", "Dictionary"))
            .PageSize(20)
        )
    )
