
@model IEnumerable<iWasHere.Domain.Model.DictionarySeasonType>

@{
    ViewData["Title"] = "DictionarySeasonType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Season</h1></center>

<br>
<br>


@*Butoane*@
@*<p>
        <input id="btnCreateNewSeason" type="button" value="Create New " />
        <a asp-action="Create">Create New Season Type</a>
    </p>*@

@*<input id="Text1 " type="text" />*@



@*Find by Season Name: @Html.TextBox("txtBoxSeasonName")*@
@* <label for="searchSeasonName">Nume sezon</label>*@
@*<input type="text" name="searchSeasonyName" />*@
<label>
    Denumire Sezon
</label>
<input id="SeasonName" type="text">
<label>
    Tip Cod
</label>
<input id="SeasonCode" type="text">
<button id=" FilterSeason" onclick="test()">Filtreaza</button>
<button id=" DeleteFilterSeason" onclick="ClearFilter()">Sterge Filtre</button>






<script type="text/javascript">



    function test() {



        $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").dataSource.page(1);
    }



    function filter() {
        var SeasonName = $("#SeasonName").val();
        var SeasonCode = $("#SeasonCode").val();
        var filter = {};
        filter["SeasonName"] = SeasonName;
        filter["SeasonCode"] = SeasonCode;
        console.log(filter.SeasonName);
        return filter;
    }



    function txtFilterSeason() {



        var object = {};
        object["SeasonName"] = $("#SeasonName").val();
        object["SeasonCode"] = $("#SeasonCode").val();
        return object;
    }

    function EditareSezon() {
        var gview = $("#grid").data("kendoGrid");
        var selectedItem = gview.dataItem(gview.select());
        var id = selectedItem.id;
        window.location.href = "@Url.Action("EditSeason", "Dictionary")?SeasonId=" + id;


    }

    function ClearFilter() {
        $("#SeasonCode").val('');
        $("#SeasonName").val('');
        $("#grid").data("KendoGrid").dataSource.read();
        $("#grid").data("KendoGrid").dataSource.page(1);

    }

</script>

@*buton adauga*@

<div>
    <button type="submit" class="btn  btn-danger" onclick="Add()">Create New </button>

</div>


@*redirectionare pagina*@
<script>
    function Add() {
        window.location.href = "@Url.Action("EditSeason","Dictionary")?SeasonId=" + null;
    }
</script>




@*-->KendoGrid*@

@(Html.Kendo().Grid<iWasHere.Domain.Model.DictionarySeasonType>()
      .Name("grid")
       .Columns(columns =>
       {
           columns.Bound(s => s.DictionarySeasonId).Title("Season Id").Visible(false);
           columns.Bound(s => s.DictionarySeasonName).Title("Season Name").Width(150);
           columns.Bound(s => s.DictionarySeasonCode).Title("Season Code").Width(100);
           columns.Command(command => { command.Custom("Editare").Click("EditareSezon"); command.Destroy(); }).Width(250);



       })
       .HtmlAttributes(new { style = "height: 550px;" })
       .Scrollable()
       .Groupable()
       .Sortable()
       .Selectable()
       .Scrollable(scr => scr.Height(300))
       //.Filterable()
       .Pageable(pageable => pageable
           .Refresh(true)
           .PageSizes(true)
           .ButtonCount(5))
           .DataSource(dataSource => dataSource
           .Ajax()

          .Model(model =>
          {
             model.Id(s => s.DictionarySeasonId);
             model.Field(s => s.DictionarySeasonId).Editable(false);
          }
          )
          .PageSize(8)
          .Read(read => read.Action("DictionarySeasonTypeData", "Dictionary").Data("filter"))
          .Destroy(update => update.Action("DeleteSeason", "Dictionary"))
       )
)

