
@{
    ViewData["Title"] = "Home Page";
}
@*<div class="container">
    <img src="photo4.jpg" alt="photo" style="width:100%;">
    <div class="centered">Centered</div>
</div>*@


@*<html class="k-webkit k-webkit77" style="background-image: url(/images/photo4.jpg);
            background-repeat: no-repeat;
            background-position: right top;
            background-attachment: fixed;
            background-size: cover;">

<head>
    <title>BatmanProject</title>

</head>
<body>
    <style>
        {margin:0; padding:0;}
        body {font-size:15px;}
        banner{position:relative; width:90%; margin:0 auto;}
        banner img{width:100%;}
        heading {color:wheat; position:absolute; top:50%; width:100%; text-align:center;}

    </style>
    <center><h1>Batman Project </h1> </center>*@

   @*<div class = "container">

       <div class = "row">
           <div class="banner">
               <center>  <h2 class="heading"> Batman Project</h2> </center>
           </div>
           
       </div>

   </div>*@

   

@*</body>

</html>*@

