@{
    ViewData["Title"] = "Home Page";
}
<html>

<body background="photo.jpg">
    <h1>Hello world!</h1>

</body>
</html>

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>*@


   
</div>
